body{
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

/*HEADER*/

.menu-head{
    background-color: white;
    color: black;
    height: 110px;
   
  
}
ul li a{
    color:black;
    text-decoration: none;
   
   
}

.menu ul{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.menu ul ul{
    position: absolute;
    
}
.menuder  {
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    
}
.menuder li {
    border: solid 2px white;
    height: 60px;
    width: 140%;
    position: relative;
    margin-bottom: 0,5px;
    visibility: hidden;
    background-color: #f456568b;
    color: white;
    margin-right: 40%;
}

.menuder a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

.menuder li:hover{
    background-color: #f456568b;
}
.menu ul li:hover li{
    visibility: visible;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
   
    
}
.log{
    margin-left: 4%;
    margin-top: 1%;
}
.boutoncouleur{
    display: flex;
    width: 30%;
   
}
/*bouton de connexion a une autre page*/
.boutonbleu{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #0092BD;
    color: #0092BD;
    margin-right: 10%;
}
.boutonrouge{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #F45656;
    margin-left: 10%;
}
/* hover des boutons*/
.boutonbleu:hover{
    background-color: #0092BD;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: #fff;
    margin-right: 10%;
}
.boutonrouge:hover{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: white;
    margin-left: 10%;
}

.menu{
    width: 50%;
    margin-left: 5%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}

/*bannière*/


.imagedelassurance{
    width: 2050px;
    height: 860px;
}
.title{
    position: absolute;
    color: #F45656;
    top: 55%;
    left: 400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card 
{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.card .card-1{
    height: 160px;
    width: 70%;
    background: white;
    position: absolute;
   
}
.card .card-1 h1{
    color: #1E2F89;
    margin-top: 30px;
    left: 50px;
    font-size: 50px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card .card-1 h2{
    color: black;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
}
.card-bleu
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    padding-left: 50px;
    padding-top: 13%;
   
   
}

.card-bleu .card-bleu1{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 1px 1px 1px 1px rgb(197, 196, 196);

}
.teleop{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 20%;
}
.card-bleu h1{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-bleu .card-bleu2{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 2px 2px 2px 2px rgb(197, 196, 196);

}
.car{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 25%;
}
.card-bleu .card-bleu3{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 2px 2px 2px 2px rgb(197, 196, 196);

}
.trophy{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 20%;
}
.section-card{

height: 30%;    
}
/*section automobile */

/*image assurauto*/

.assurmobile{
    width: 1200px;
    height: 1200px;
    position: absolute;
    margin-top: 90px;
    margin-left: 50px;
}
/*cadre assurauto*/

.card-assurauto{
    background-color: white;
    width: 1000px;
    height: 200px;
    position: absolute;
    margin-left: 880px;
    margin-top: 180px;
}
/*petit cadre blanc*/
#pbleu{
    color: #0092BD;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.card-assurauto p{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* grand cadre avec ecriture*/
.garantie{
    width: auto;
    height: 1200px;
    position: absolute;
    margin-left: 1300px;
    margin-top: 450px;
    text-align: center;
}
.garantie p {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.garantie li {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bouton{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: #F45656;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
.bouton:hover{
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #f45656;
}

/*section automobile1 */

/*cadre assurancephoto*/

.photoassurance{
    width: 850px;
    height: 800px;
    position: absolute;
    margin-left: 1100px;
    margin-top: 1450px;
     
}

/* grand cadre avec ecriture large*/
.card-offre{
    width: 1000px;
    height: 1300px;
    position: absolute;
    margin-right: 1300px;
    margin-top: 1400px;
    text-align: center;
}
.card-offre p {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card-offre li {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

/*partie formulaire bleu*/

.formulairebleu{
    background-color: #0092BD;
    position: relative;
    width: 2050px;
    height: 800px;
    margin-top: 145rem;
}
.formulairebleu h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: white;
    padding-top: 60px;
}
.formulairebleu h3{
    text-align: center;
    font-family: medium italic;
    font-size: 40px;
    color: white;
}
.form{
    position: relative;
    color: #fff;
   
   
}
input{
    border: none;
    background-color: #0092BD;
    border-bottom: 1px solid #fff

}
 
/*bouton bleu*/
.forme2 .bouton{ 
    background-color: #0092BD;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
    font-size: 20px;
   
}
.forme2 .bouton:hover{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #0092BD;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}

.cardformu{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    
}
label, input{
    font-size: 240%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}

/*avant le pied de page*/

.avantfooter{
    background: #DFDFDF;
    width: auto;
    height: 300px;
   
}
.prefooter{
    display: flex;
    justify-content: space-around;
   padding-top: 20px;
    
}
.imalogo{
    width: 40%;
    height: 20%;
    margin-top: 10px;
   
}
.prefooter p{
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

/*pied de page*/
.foot{
    background-color: #0B0404;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}
.icon1, .icon2, .icon3{
    width: 40px;
    height: 40px;
}
.foot p{
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #fff;
    font-size: 100%;
}
.copy{
    width: 30%;
    margin-left: 40%;
    margin-top: 25px;
   
}
/*icon du pied de page*/
.icon{
    width: 20%;
    margin-left: 30%;
    margin-top: 15px;
    justify-content: space-between;
}
.icon1{
    margin-right: 10%;
}
.icon2{
    margin-right: 10%;
}
.icon3{
    margin-right: 10%;
}






/*page de declaration de sinitre*/

.cardblanc{
    width: 50%;
    text-align: center;
    margin-left: 25%;
   
}
.cardblanc h1{
    color: #0092BD;
}
.cardblanc h3{
    color: black;
    font-size: 120%;
    line-height: 170%;
}
/*formulaire*/

form {
    
    border: 1px solid gray;
    color: white;
    background-color: #A3D9DC;
    width: 70%; /* définir la largeur du formulaire */
    margin: auto; /* centrer horizontalement */
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 350px;
  }
  
  label {
    display: block;
    margin-top: 8%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
  }
  input {
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}
.titre{
    color: #0092BD;
    text-align: center;
    margin-top: 3%;
}
.form2{
    height: 700px;
}
#adresse{
    width: 238%;
}
.form3{
    height: 520px;
    margin-top: 10%;
}
.form4{
    height: 500px;
    margin-top: 5%;
}
.form4 input{
    height: 25%;
    width: 150%;
    margin: auto;
    
}