body{
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

/*HEADER*/

.menu-head{
    background-color: white;
    color: black;
    height: 110px;
  
}
ul li a{
    color:black;
    text-decoration: none;
   
   
}

.menu ul{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.menu ul ul{
    position: absolute;
    
}
.menuder  {
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    
}
.menuder li {
    border: solid 2px white;
    height: 60px;
    width: 140%;
    position: relative;
    margin-bottom: 0,5px;
    visibility: hidden;
    background-color: #f456568b;
    color: white;
    margin-right: 40%;
}

.menuder a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

.menuder li:hover{
    background-color: #f456568b;
}
.menu ul li:hover li{
    visibility: visible;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
   
    
}
.log{
    margin-left: 4%;
    margin-top: 1%;
}
.boutoncouleur{
    display: flex;
    width: 30%;
   
}
/*bouton de connexion a une autre page*/
.boutonbleu{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #0092BD;
    color: #0092BD;
    margin-right: 10%;
}
.boutonrouge{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #F45656;
    margin-left: 10%;
}
/* hover des boutons*/
.boutonbleu:hover{
    background-color: #0092BD;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: #fff;
    margin-right: 10%;
}
.boutonrouge:hover{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: white;
    margin-left: 10%;
}

.menu{
    width: 50%;
    margin-left: 5%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}

/*bannière*/


.imagedelassurance{
    width: 2050px;
    height: 860px;
}
.title{
    position: absolute;
    color: #F45656;
    top: 55%;
    left: 400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card 
{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.card .card-1{
    height: 160px;
    width: 70%;
    background: white;
    position: absolute;
   
}
.card .card-1 h1{
    color: #1E2F89;
    margin-top: 30px;
    left: 50px;
    font-size: 50px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card .card-1 h2{
    color: black;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
}
.card-bleu
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    padding-left: 50px;
    padding-top: 13%;
   
   
}

.card-bleu .card-bleu1{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 1px 1px 1px 1px rgb(197, 196, 196);

}
.teleop{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 20%;
}
.card-bleu h1{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-bleu .card-bleu2{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 2px 2px 2px 2px rgb(197, 196, 196);

}
.car{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 25%;
}
.card-bleu .card-bleu3{
    height: 250px;
    width: 25%;
    background: #0092BD;
    box-shadow: 2px 2px 2px 2px rgb(197, 196, 196);

}
.trophy{
    width:50%;
    height: 50%;
    justify-content: center;
    padding-left: 20%;
}
.section-card{

height: 30%;    
}
/*section automobile */

/*image assurauto*/

.assurmobile{
    width: 1200px;
    height: 1200px;
    position: absolute;
    margin-top: 90px;
    margin-left: 50px;
}
/*cadre assurauto*/

.card-assurauto{
    background-color: white;
    width: 1000px;
    height: 200px;
    position: absolute;
    margin-left: 880px;
    margin-top: 180px;
}
/*petit cadre blanc*/
#pbleu{
    color: #0092BD;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.card-assurauto p{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* grand cadre avec ecriture*/
.garantie{
    width: auto;
    height: 1200px;
    position: absolute;
    margin-left: 1300px;
    margin-top: 450px;
    text-align: center;
}
.garantie p {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.garantie li {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bouton{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: #F45656;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
.bouton:hover{
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #f45656;
}

/*section automobile1 */

/*cadre assurancephoto*/

.photoassurance{
    width: 850px;
    height: 800px;
    position: absolute;
    margin-left: 1100px;
    margin-top: 1450px;
     
}

/* grand cadre avec ecriture large*/
.card-offre{
    width: 1000px;
    height: 1300px;
    position: absolute;
    margin-right: 1300px;
    margin-top: 1400px;
    text-align: center;
}
.card-offre p {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card-offre li {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

/*partie formulaire bleu*/

.formulairebleu{
    background-color: #0092BD;
    position: relative;
    width: 2050px;
    height: 800px;
    margin-top: 145rem;
}
.formulairebleu h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: white;
    padding-top: 60px;
}
.formulairebleu h3{
    text-align: center;
    font-family: medium italic;
    font-size: 40px;
    color: white;
}
 
/*bouton bleu*/
.formu2 .bouton{ 
    background-color: #0092BD;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
    font-size: 20px;
   
}
.formu2 .bouton:hover{
    background-color: #fff;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #0092BD;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}

.cardformu{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    
}

.cardformu label {
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    color: white;
    line-height: 220%;
}
.formu1 input{
    border: none;
    background-color: #0092BD;
    border-bottom: 1px solid #fff;
    width: 400px;
    height: 10%;
}
.formu2 input{
    border: none;
    background-color: #0092BD;
    border-bottom: 1px solid #fff;
    width: 400px;
    height: 10%;
}

/*avant le pied de page*/

.avantfooter{
    background: #DFDFDF;
    width: auto;
    height: 300px;
   
}
.prefooter{
    display: flex;
    justify-content: space-around;
   padding-top: 20px;
    
}
.imalogo{
    width: 40%;
    height: 20%;
    margin-top: 10px;
   
}
.prefooter p{
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

/*pied de page*/
.foot{
    background-color: #0B0404;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}
.icon1, .icon2, .icon3{
    width: 40px;
    height: 40px;
}
.foot p{
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #fff;
    font-size: 100%;
}
.copy{
    width: 30%;
    margin-left: 40%;
    margin-top: 25px;
   
}
/*icon du pied de page*/
.icon{
    width: 20%;
    margin-left: 30%;
    margin-top: 15px;
    justify-content: space-between;
}
.icon1{
    margin-right: 10%;
}
.icon2{
    margin-right: 10%;
}
.icon3{
    margin-right: 10%;
}






/*------------------------page de declaration de sinitre----------------------*/

.cardblanc{
    width: 50%;
    text-align: center;
    margin-left: 25%;
   
}
.cardblanc h1{
    color: #0092BD;
}
.cardblanc h3{
    color: black;
    font-size: 120%;
    line-height: 170%;
}
/*formulaire*/
/*----------------formulaire1-------------------*/
.formul1 {
    
    border: 1px solid gray;
    color: white;
    background-color: #A3D9DC;
    width: 70%;
    margin: auto; 
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 350px;
  }

.formul1 div input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 400px;
    height: 12%;
}
.formul1 div label{
    display: block;
    margin-top: 8%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}
.infotitre{
    color: #0092BD;
    text-align: center;
    margin-top: 3%;
}
#adresse{
    width: 265%;
} 
/*-----------formulaire2-------------------*/
.formul2 {
    border: 1px solid gray;
    color: white;
    background-color: #A3D9DC;
    width: 70%;
    margin: auto; 
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 650px;
  }

.formul2 div input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 400px;
    height: 6%;
}
.formul2 div label{
    display: block;
    margin-top: 8%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}
/*-----------formulaire3-------------------*/
.formul3 {
    border: 1px solid gray;
    color: white;
    background-color: #A3D9DC;
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 450px;
    margin-top: 4%;
  }

.formul3 div input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 400px;
    height: 6%;
}
.formul3 div label{
    display: block;
    margin-top: 8%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}


/*-----------formulaire4-------------------*/
.formul4 {
    border: 1px solid gray;
    color: white;
    background-color: #A3D9DC;
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 460px;
    padding-bottom: 10px;
  }

.formul4 div input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 700px;
    height: 20%;
}
.formul4 div label{
    display: block;
    margin-top: 8%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}

.bout{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: #F45656;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
    margin-left: 75%;
}

.bout:hover{
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #f45656;
}


/*----------------------troisieme page contacter l'assurance------------------------*/

.pticadrblanc{
    height: 20%;
    border: white 2px solid;
    width: 40%;
    top: 80%;
    background-color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    text-align: center;
}
.pticadrblanc h1{
    color: #f45656;
    font-size: 70Px;
    margin-top: 10px;
}
.pticadrblanc h3{
    color: black;
    font-size: 40Px;
    line-height: 0px;
}
.imagedecontact{
    width: 2050px;
    height: 840px;
}

.paragraphe{
    text-align: center;
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----------------formulaire-----------------------*/
.grandediv{
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-around;
    margin-top: 5%;
}

.formulai1{
    border: 1px solid gray;
    background-color: #A3D9DC;
     width: 150%;
     height: 700px;
     text-align: center;
    
}
.formulai1 input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 500px;
    height: 10%;
}
.formulai1 label{
    display: block;
    margin-top: 1%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}

.formulai2{
    border: 1px solid gray;
    background-color: #A3D9DC;
     width: 150%;
     height: 700px;
     text-align: center;

}
.formulai2 input{
    background-color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    width: 500px;
    height: 10%;
}
.formulai2 label{
    display: block;
    margin-top: 1%;
    color: black;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0%;
}
.formulai2 .message1{
height: 50%;
}

.parent{
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.parent h2{
    margin-left: 13%;
    font-size: 40px;
    color: #0092BD;
}

.parent2{
    height: 50%;
    display: flex;
    justify-content: space-around;
    
}

.assauto{
    width: 25%;
    height: 350px;
    background-color: #0092BD;
    color: white;
    text-align: center;
    
}
.assauto p {
    font-size: 40px;
    margin-top: 30%;
}
.autprod{
    width: 25%;
    height: 350px;
    background-color: #0092BD;
    color: white;
    text-align: center;
    
}
.autprod p {
    font-size: 40px;
    margin-top: 30%;
}
.boutbas1{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: #F45656;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15%;
    margin-left: 0%;
}
.boutbas2{
    background-color: #F45656;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: #F45656;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 6%;
    margin-left: 0%;
}
.boutbas1:hover{
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #f45656;
}
.boutbas2:hover{
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #F45656;
    color: #f45656;
}

.avantdernier{
    width: 100%;
    display: flex;
    height: 90%;
   
    justify-content: space-around;
    margin-top: 6%;
    margin-bottom: 5%;
}
.avantdernier h3{
    color: #0092BD;
    font-size: 25px;
}
.avantdernier p{
    font-size: 25px;
}

.trouver{
    height: 50%;
}
.appeler img{
    margin-right: 5px;
}
.ecrire img{
    margin-left: 5px;
    margin-bottom:-6px;
}